.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
    margin-right: 0;
    margin-left: 0px;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
    margin-right: 0;
    margin-left: 0px;
}

.page-container .page-sidebar.page-sidebar-fixed {
    background-color: #1b1e24;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
    margin-right: 0;
    margin-left: 0px;
}

.x-navigation.x-navigation-minimized {
    display: none;
}

.page-container.page-container-wide .page-sidebar {
    width: 0px;
}

@media (max-width: 1024px) {
    .x-navigation.x-navigation-horizontal {
        height: 0px;
        background: #1d2127;
    }
}

.page-container.page-navigation-toggled .page-content {
    margin-left: 0px;
    margin-right: 0px;
}

@media (min-width: 1024px) {
    .page-container .page-content .content-frame .content-frame-body.content-frame-body-left {
        margin-left: 150px;
        margin-right: 150px;
    }
}

#send {
    float: left;
    margin: 0px 0px 5px 12px;
}

.input-group {
    padding: 8px 8px 3px;
}

.file-preview {
    margin: 7px;
    width: 98.3%;
}

.messages.messages-img .item .text:after, .messages.messages-img .item .text:before {
    right: 100%;
    left: auto;
}

.messages.messages-img .item .image {
    float: left;
    width: 40px;
}

.messages.messages-img .item .text {
    margin-left: 50px;
    margin-right: 0px;
}

.messages.messages-img .item.in .text:after, .messages.messages-img .item.in .text:before {
    right: auto;
    left: 100%;
}

.messages.messages-img .item.in .image {
    float: right;
}

.messages.messages-img .item.in .text {
    margin-left: 0px;
    margin-right: 50px;
}

img {
    vertical-align: middle;
}

.profile .profile-image {
    margin: 0px 0px 10px;
    text-align: right;
    margin-top: -10px;
}

.profile {
    padding: 0px 0px;
}

.widget.widget-item-icon .widget-data {
    padding-left: 0px;
    padding-right: 10px;
}

.status {
    float: right;
}

.widget .widget-data .widget-title, .widget .widget-data-left .widget-title, .widget .widget-data .widget-subtitle, .widget .widget-data-left .widget-subtitle, .widget .widget-data .widget-int, .widget .widget-data-left .widget-int, .widget .widget-data .widget-big-int, .widget .widget-data-left .widget-big-int {
    text-align: right;
}

.widget.widget-default .widget-subtitle {
    text-align: right;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background: white;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-color: white;
    border-width: 1px;
}

.widget .widget-int {
    font-size: 22px;
    font-family: Rubik;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.numberofstatus {
    width: 20%;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

.Tstatus {
    font-size: 20px;
    width: 106%;
}

.table {
    margin-bottom: 0px;
}

.widget {
    margin-top: 20px;
}

#colornew {
    background-color: #b84555;
}

#colorwait {
    background-color: #dbab3f;
}

#colortreat {
    background-color: #7281cb;
}

#colorclosed {
    background-color: #5dc975;
}

tspan {
    font-family: Rubik;
}

svg text {
    font: normal 12px Rubik;
}

.nvd3 .nv-legend .nv-series {
    display: none;
}

.dotsupply {
    height: 10px;
    width: 10px;
    background-color: #FDB863;
    border-radius: 50%;
    display: inline-block;
}

.dotproduct {
    height: 10px;
    width: 10px;
    background-color: #ee867e;
    border-radius: 50%;
    display: inline-block;
}

.panel .panel-body {
    padding: 0px;
}


.nvd3 .nv-wrap .nv-pieChart {
    transform: translate(0px, -70px);
}

/*@media (min-width: 1024px) {
    #chart-10 {
        float:right;
    }
}*/
